[Unit]
Description=Log kmsg in logfile.txt and toggle capslock Daemon server
Documentation=
After=tftpd-hpa.service
Wants=

[Service]
Type=simple
ExecStart=/bin/LogFileDaemonAPP
ExecStop=/etc/init.d/tftpd-hpa stop

[Install]
WantedBy=multi-user.target


